<!DOCTYPE html>
<html lang="fr" ng-app="weatherMoodApp">

<head>
  <meta charset="utf-8" />
  <title>Weathermood App</title>
  <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    <script src="vendors/angular/angular.js"></script>
</head>

<body ng-controller="myCtrl">
  <div class="container-fluid text-center">
    <header>
      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
          <h1>WeatherMood</h1>
        </div>

        <div class="col-lg-offset-1 col-lg-2">
          <!--view show meteo-->
          <div id="meteo" ng-if="cityInfos">
            <ul>
              <li class="ville">{{cityInfos.name}} </li>
              <li class="temp">{{cityInfos.temp}}</li>
              <li class="description">{{cityInfos.description}}</li>
            </ul>
          </div>
          <!--fin view show meteo-->
        </div>
      </div>

    </header>

    <!--view weather search-->
    <section>
      <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
          <form>

            <input type="search" class="search" placeholder="Search" ng-model="town">
            <button type="submit" class="bouton" ng-click="getByTown()"><i class="fa fa-search"></i></button>

          </form>
        </div>
      </div>
    </section>
    <!--fin view weather search-->

    <!--view deezer-->
    <section id="deezer">
      <div class="row">
        <div class="col-lg-offset-5 col-lg-2">
          <div class="deezer-widget-player" data-src="https://www.deezer.com/plugins/player?format=square&autoplay=true&playlist=false&width=80&height=80&color=007FEB&layout=dark&size=small&type=playlist&id=30595446&app_id=1"
            data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="80" data-height="80"></div>
      </div>
  </div>
  </section>
  <!--fin view deezer-->




  </div>
  <!--FIN CONTAINER-->


  <script src="js/player.js"></script>
  <script src="js/weatherMood.js"></script>


</body>

</html>